@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>
    Политика в отношении обработки персональных данных
    2.10. Пользователь — любой посетитель веб-сайта https://localhost:7253/Home/Privacy.
    11.1. Пользователь может получить любые разъяснения по интересующим вопросам, 
    касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты bronnikovavarvara@mail.ru.
    11.3. Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу https://localhost:7253/Home/Privacy.
</p>
